<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mars News</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container" style="justify-content: center;">
        <div class="jumbotron text-center">
            <h1>Mars News</h1>
            <p><a class="btn btn-primary btn-xlg" href="/scrape" role="button">Click for Update</a></p>
        </div>
    </div>
    <div class='row' style="justify-content: center;">
        <h3>{{data.head}}</h3>
        <br>
        <p>{{data.body}}</p>
    </div>
    <div class='row'>
        <div class='.col-md-8'>
            <div class='container' style="margin-left: 25px;">
                <h4>Featured Image</h4>
                <img src={{data.image}} style="max-width: 825px;">
            </div>
        </div>
        <div class='col-md-4'>
            <br>
            <br>
            <br>
            <div class="container" style="border:2px black;">
                <h5>Weather Data</h5>
                <p>{{data.weather}}</p>
            </div>
            <br>
            <div class='container'>
                <h5>Mars Facts</h5>
                {{data.table|safe}}
            </div>
        </div>
    </div>
    <div style="margin-top: 50px;">
        <h3 style="text-align: center;">Hemispheres</h3>
    </div>
    <div class='row' style='justify-content: center;'>
        {% for x in data.hems %}
        <div class="card" style="width: 500px; margin: 40px; margin-top: 10px;">
            <img src={{x.img_url}} class="card-img-top" alt={{x.title}}>
            <div class="card-body">
                <h5 class="card-text">{{x.title}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</body>

</html>