body {
    background-color: #f0f0f0;
}

.vizualization {
    width: 50%;
}

img {
    width: 100%;
}

.box {
    background-color: #ffffff;
    padding: 30px;
    margin-top: 60px;
}

.box a {
    border: 2px solid #fff;
    display: block;
}

.box a:hover {
    border: 2px solid #318998;
}

.navbar-light .navbar-brand {
    color: #fff;
    background: #318998;
    padding: 8px 10px 8px 10px;
}

.active-link {
    border: 2px solid #318998;
    display: block;
}